body {
  background-color: #f5f5f5;
}

.back-to-main-page {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 40px;
  aspect-ratio: 1;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: none;
  transition: var(--transition-button);
  z-index: 2;

  & > svg {
    transform: rotate(180deg);
    color: #999; // ???
  }

  @include hover {
    background-color: white;
  }
}

.register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 414px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  position: relative;
  transition: var(--transition-button);

  &:focus {
    outline: none;
  }

  &__title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 350px) {
      font-size: 1.5rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;

    &:focus-within .form__label,
    .form__input:not(:placeholder-shown) + .form__label {
      top: -25px;
      left: 4px;
      color: #02923d;
    }

    .form__input:not(:focus) + .form__label {
      color: #999;
    }
  }

  &__label {
    font-size: 1.125rem;
    color: #999;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 1.125rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;

    &::placeholder {
      -webkit-user-select: none;
      user-select: none;
      opacity: 0;
      transition: var(--transition-button);
    }

    &:focus {
      border-color: #02923d;
      box-shadow: 0 0 4px #02923e75;

      &::placeholder {
        opacity: 1;
      }
    }

    &.just-validate-error-field {
      border-color: rgb(184, 17, 17);
      box-shadow: 0 0 4px rgb(184, 17, 17);
    }

    &:focus.just-validate-error-field {
      border-color: #dc7235;
      box-shadow: 0 0 4px #dc7235;

      & ~ .form__label {
        color: #dc7235;
      }

      & ~ .just-validate-error-label {
        color: #dc7235 !important;
      }
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 20px;
  }

  &__link {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
