.catalog {
  &__title {
    margin-bottom: 20px;
  }

  &__items {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;

      .product {
        max-width: 400px;
      }
    }
  }

  &__item {
    &-link {
      text-decoration: none;
      color: inherit;
    }
  }
}

.product {
  border-radius: 20px;
  max-width: 450px;
  padding: 10px 25px;
  transition: var(--transition-button);

  &__img {
    margin-bottom: 10px;
    aspect-ratio: 1.2;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }

  &__wrapper {
    padding-inline: 10px;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
  }

  &__price {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__description {
    font-size: 0.95rem;
    color: #81899a;
    line-height: 1.2;
  }

  @include hover-only {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

// .overlay {
//   opacity: 0;
//   visibility: hidden;
//   position: fixed;
//   inset: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: rgba(0, 0, 0, 0.4);

//   &[aria-hidden="false"] {
//     opacity: 1;
//     visibility: visible;
//   }

//   &__inner {
//     padding: 0;
//   }
// }

// .card {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   column-gap: 40px;
//   max-width: 90vw;
//   width: 100%;
//   padding: 20px 40px;
//   background-color: white;
//   border-radius: 20px;
//   overflow: hidden;
//   position: relative;

//   &__close {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     width: 30px;
//     aspect-ratio: 1;
//     --color-close: var(--color-white-gray);
//     border: none;
//     background: none;

//     &::after,
//     &::before {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%) rotate(45deg);
//       width: 80%;
//       height: 2px;
//       background-color: var(--color-close);
//       transition: var(--transition-button);
//     }

//     &::after {
//       transform: translate(-50%, -50%) rotate(135deg);
//     }

//     @include hover {
//       cursor: pointer;
//       --color-close: black;
//     }
//   }

//   &__img {
//     width: 100%;
//     height: 100%;

//     & img {
//       border-radius: 20px;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       object-position: center;
//     }
//   }

//   &__body {
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: space-between;
//     // align-items: flex-start;
//   }

//   &__title {
//     @include fluid-text(50, 30);
//     line-height: 1.2;
//   }

//   &__price {
//     @include fluid-text(40, 20);
//   }

//   &__description {
//     font-size: 1.125rem;
//     margin-bottom: 20px;
//   }

//   &__colors {
//   }

//   &__button {
//     padding: 15px 30px;
//   }
// }
