version: "3.9"

services:
  nginx:
    image: nginx:latest
    volumes:
      - ./public:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    networks:
      - appnet
  node:
    build:
      context: .
      dockerfile: DockerFile
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app/
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    networks:
      - appnet
    healthcheck:
      test:
        [
          "CMD",
          "node",
          "-e",
          "require('http').get('http://localhost:3000/health')",
        ]
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  appnet:
    driver: bridge
