.header {
  @include mobile {
    display: none;
    margin: 0;
    padding: 0;
  }

  &__inner {
    padding-block: 0px;
  }

  &__contacts {
    margin-bottom: 3px;
    padding-block: 10px;
    border-bottom: 1px solid #cccccc50;

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      display: flex;
      column-gap: 1em;

      &:last-of-type {
        column-gap: 5px;
      }
    }

    &-phone {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.2em;
    }

    &-address {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.3em;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &-items {
      display: flex;
      column-gap: 1em;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-link {
      height: 2.5em;
      display: flex;
      align-items: center;
    }
  }

  &__basket-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    position: relative;

    & svg {
      width: 30px;
      aspect-ratio: 1;
      transition: 0.1s ease;
    }

    &-notify {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      background: #f55123;
      border-radius: 16px;
      min-width: 16px;
      height: 16px;
      padding: 2px 3px 1px;
      font-size: 10px;
      line-height: 13px;
      display: inline-block;
      position: absolute;
      top: -6px;
      right: -8px;
    }

    @include hover {
      cursor: pointer;

      & svg {
        color: rgba(0, 0, 0, 0.6);
      }
    }

    &:active {
      & svg {
        color: black;
      }
    }
  }
}
