.product {
  border-radius: 2px;
  max-width: 450px;
  padding: 10px 15px;
  transition: var(--transition-button);

  &__img {
    margin-bottom: 10px;
    aspect-ratio: 1.2;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  &__body {
    padding-inline: 10px;
  }

  &__title {
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 5px;
  }

  &__price {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 0.95rem;
    color: #81899a;
  }

  @include hover-only {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
