.hero {
  &__title {
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

.c-user {
  font-size: 1.8rem;
}

.admins {
  &__title {
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 10px;
    text-align: center;
  }

  &__list {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.admin {
  --padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-bottom);

  &__info {
    font-size: 1.25rem;
    display: flex;
    column-gap: 1.5em;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: calc(var(--padding-bottom) / -2);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  &__button {
    &-delete {
      border: none;
      background: none;
      border-radius: 50%;
      padding: 0;
      margin: 0;

      & svg {
        width: 30px;
        aspect-ratio: 1;
        fill: red;
      }
    }
  }
}
